.calendar-timeline{
    margin-top           : 20px;
    width                : 100%;
    overflow-y           : visible;
    -webkit-touch-callout: none;               /* iOS Safari */
    -webkit-user-select  : none; /* Safari */  /* Konqueror HTML */
    -moz-user-select     : none;               /* Firefox */
    -ms-user-select      : none;               /* Internet Explorer/Edge */
    user-select          : none;               /* Non-prefixed version, currently
                                supported by Chrome and Opera */  
}

.calendar-timeline::-webkit-scrollbar,.calendar-timeline *::-webkit-scrollbar {
    display: none;
}
/* .calendar-timeline .calendar-dates{
    position         : relative;
    width            : 100%;
    overflow         : auto;
    display          : inline-grid;
    grid-auto-flow   : column;
    grid-auto-columns: calc(42% / 8);
    justify-content  : space-between;
    justify-items    : stretch;
    grid-column-gap  : 20px;
} */
.calendar-timeline .calendar-dates{
    position             : relative;
    width                : 100%;
    overflow             : auto;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction   : row;
    flex-direction       : row;
    -webkit-box-pack     : start;
    -ms-flex-pack        : start;
    justify-content      : flex-start;
    cursor               : -webkit-grab;
}

.calendar-timeline .calendar-item{
    position  : relative;
    padding   : 0 30px;
    text-align: center;
    /* cursor:pointer; */
    overflow-y: visible;
}

@media only screen and (max-width: 768px){
    .calendar-timeline .calendar-item{
        padding: 0 24px;
    }
}
@media only screen and (max-width: 425px){
    .calendar-timeline .calendar-item{
        padding: 0 20px;
    }
}
@media only screen and (max-width: 375px){
    .calendar-timeline .calendar-item{
        padding: 0 18px;
    }
}

.calendar-timeline .calendar-item span{
    display: block;
    padding: 5px 0 5px;
}
.calendar-timeline .calendar-day{
    color      : #bdbdbd !important;
    font-size  : 0.9rem;
    font-weight: 500;
}
.calendar-timeline .calendar-date{
    padding-bottom: 15px !important;
    font-size     : 0.8rem;
    font-weight   : bolder !important;
}
.calendar-timeline .calendar-item:after{
    content      : "";
    position     : absolute;
    width        : 12px;
    border-bottom: 6px solid transparent;
    border-radius: 3px;
    left         : calc(50% - 6px);
    bottom       : 0;
}
.calendar-timeline .calendar-item.active:after{     /*,.calendar-timeline .calendar-item:hover:after*/
    border-color      : #2196f3;
    -webkit-box-shadow: 0 1px 7px 2px rgba(152, 152, 152, 0.21);
    box-shadow        : 0 1px 7px 2px rgba(152, 152, 152, 0.21);
    -webkit-transition: all .1s ease-in;
    transition        : all .1s ease-in;
}