/**
    Disable touch feedback on mobile devices
*/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
    General styling
*/
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.fixed{
    position: fixed !important;
    width: 100%;
    z-index: 999;
}

label{
    transform: scale(0.8);
}
[type="checkbox"]+span:not(.lever){
    padding-left: 15px;
}

/**
    Grid layout
*/
.grid-container{
    display: inline-grid;
    grid-auto-columns:1fr;
    grid-auto-flow: column;
    width:100%;
}
.grid-container.justify-space-between{
    justify-content: space-between;
}

/**
*   Color palatte
*/
.primary-color{
    background-color: #2196f3 !important;
}
.primary-text-color{
    color: #2196f3;
}

.title,.small-text,.big-text{
    color: #616161;
}
.dark-text{
    color: #616161 !important;
}
.sub-title,.grey-text{
    color: #bdbdbd !important;
}

/**
*   Typography
*/
.bold-text{
    font-weight: 600;
}
.x-bold-text{
    font-weight: bolder !important;
}
.x-small-text{
    font-size: 0.8rem;
}
.sub-title,.small-text{
    font-size: 0.9rem;
    font-weight: 500;
}
.normal-text{
    font-size: 1rem;
}
.big-text {
  font-size  : 1.5rem !important;
  line-height: 1.5rem !important;
}
.title{
    font-size  : 2.3rem;
    font-weight: 600;
    color      : #616161;
}

@media only screen and (max-width:345px){
    .title{
        font-size: 2.1rem;
    }
}

/**
    Header section
*/
.header{
    position          : relative;
    -webkit-box-shadow: 0 5px 5px rgba(152, 152, 152, 0.21);
    box-shadow        : 0 5px 5px rgba(152, 152, 152, 0.21);
    margin-bottom     : 20px;
    padding           : 50px 15px;
    padding-bottom    : 0px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .header-main{
    -webkit-transition: visibility 0.3s;
    transition: visibility 0.3s;
}

/* .shrinked-header{
    -webkit-transform: translateY(-130px);
            transform: translateY(-130px);
} */

.shrinked-header .header-main{
    visibility: hidden;
}

/**
    Floating btn
*/
.floating-btn-container{
    position:fixed;
    width:100%;
    left:0;
    bottom:0;
    text-align:center;
    padding: 25px 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 9%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 9%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 9%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

#add-item-btn{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}